* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  position: relative;
  display: inline;
  font-size: 18px;
}

#cursor {
  width: 1px;
  height: 1em;
  position: absolute;
  background-color: black;
  right: -2px;
  bottom: 0px;
  animation: 600ms infinite alternate blink;
}

#graphics {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
}

#graphics::before {
  content: "";
  display: block;
  position: absolute;
}

#graphics::after {
  content: "";
  display: block;
  position: absolute;
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}